<div class="page-inner">
    <form name="createForm" novalidate>
        <div class="page-head">
            <button class="btn btn-primary" ng-disabled="!canCreate" ng-click="saveForm(createForm)"><i class="icon-aw-zdi"></i> {{"cn.action.save"|translate}}</button>
            <div class="upload-file upload-inline">
                <span class="btn-file">
                    <input type="file" ng-model="file" name="file" class="file" ng-change="change($event)" onchange="angular.element(this).scope().fileChanged(this)" />
                    <button class="btn btn-info"><i class="icon-aw-dr"></i> {{"cn.action.import"|translate}}</button>
                </span>
            </div>
            <p class="red" ng-if="imgChecked">{{"cn.errors.uploadmd"|translate}}</p>
        </div>
        <div class="notice-form-layout">
            <div class="control-group notice-group">
                <label class="control-label"><span class="red">*</span>{{"cn.notice.dataTitles.title"|translate}}：</label>
                <div class="controls">
                    <input type="text" class="form-controls" autocomplete="off" ng-model="form.title" name="name" namereg ng-maxlength="100" required/>
                    <div class="error" ng-messages="(FormValid ||createForm.name.$dirty) && createForm.name.$error">
                        <form-validate maxlength="100"></form-validate>
                    </div>
                </div>
            </div>
            <div class="control-group markdown-group">
                <label class="control-label"><span class="red">*</span>{{"cn.notice.dataTitles.decr"|translate}}：</label>
                <div class="controls">
                    <div ng-if="showMarkdown">
                        <markdown-editor key="chapter" change="markdownChange(context)" data="docData" current="currentEditor" edit="0"></markdown-editor>
                    </div>
                    <div class="red" ng-if="markdownChecked">
                        <span>{{"cn.scintro.checkInfo.markdown"|translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
