<div class="page-inner">
    <div class="table-action">
        <div class="pull-left">
            <button type="button" data-toggle="modal" class="btn btn-primary" ng-click="create()">
                <i class="icon-aw-add-to2"></i>{{'cn.datasmanage.btnGroup.create'|translate}}</button>
            <button type="button" data-toggle="modal" class="btn btn-info" ng-disabled="!canEdit" ng-click="edit(checkedItems)">
                <i class="icon-aw-modify"></i>{{'cn.datasmanage.btnGroup.edit'|translate}}</button>
            <button type="button" data-toggle="modal" class="btn btn-info" ng-disabled="!canDelete" ng-click="delete(checkedItems)">
                <i class="icon-aw-delete"></i>{{'cn.datasmanage.btnGroup.delete'|translate}}</button>
        </div>
        <div class="pull-right">
            <div class="search-box">
                <form name="searchForm" novalidate ng-keyup="applyGlobalSearch()">
                    <button class="btn" type="submit" ng-disabled="searchForm.$invalid">
                        <i class="icon-aw-search"></i>
                    </button>
                    <input type="text" class="form-control" autocomplete="off" maxlength="128" name="searchTerm" ng-model="globalSearchTerm"
                        placeholder="{{'cn.action.search'|translate}}" />
                </form>
            </div>
            <button class="btn btn-renovat" ng-click="refresh()">
                <i class="icon-aw-refresh"></i>
            </button>   
            <!-- <setting title-data="datasmanageTitleData" site-title="datasmanageName" table-data="classList" search-tearm="datasmanageSearchTerm(obj)"></setting> -->
        </div>
    </div>
    <div class="table-content">
        <table ng-table="tableParams" class="table" template-pagination="/public/tmpl/ngtablepagination.html">
            <colgroup>
                <col width="4%">
                <col width="15%">
                <col width="60%">
                <col width="25%">
            </colgroup>
            <tr ng-repeat="item in $data">
                <td header="'headerCheckbox.html'">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="checkboxes.items[item.id]"/>
                        <i class="icon-aw-square"></i>
                    </label>
                </td>
                <td data-title="datasmanageTitles.name" sortable="'datasetName'">
                    <a ng-href="#/pagemanage/datas?id={{item.id}}">{{item.datasetName}}</a>
                </td>
                <td data-title="datasmanageTitles.desc" sortable="'description'"><span class="word-break">{{item.description}}</span></td>
                <td data-title="datasmanageTitles.download" sortable="'url'"><span class="word-break">{{item.url}}</span></td>
                <tr ng-if="$data.length==0">
                    <td colspan="8">
                        <loading-data data="$data"></loading-data>
                    </td>
                </tr>
            </tr>
        </table>
    </div>
    <div ng-controller="detailCtrl">
        <pane class="detail-body" animation="animation">
            <div class="tab-content detail-new">
                <div class="detail-row">
                    <div class="detail-title">
                        <a class="an-close" ng-href="#/pagemanage/datas">
                            <i class="icon-aw-mail-reply"></i>
                        </a>
                        <span>{{detailInfo.datasetName}}{{"cn.common.detail"|translate}}</span>
                    </div>
                    <div class="detail-info">
                        <h5 class="config-detail-title">{{'cn.datasmanage.dataTitles.baseInfo'|translate}}</h5>
                        <div class="table-bg">
                            <table class="table table-info column">
                                <tr>
                                    <td>{{'cn.datasmanage.dataTitles.name'|translate}}</td>
                                    <td><span class="word-break">{{detailInfo.datasetName}}</span></td>   
                                    <td>{{'cn.datasmanage.dataTitles.download'|translate}}</td>
                                    <td><span class="word-break">{{detailInfo.url}}</span></td>
                                </tr>
                                <tr>
                                    <td>{{'cn.datasmanage.dataTitles.desc'|translate}}</td>
                                    <td colspan="3"><span class="word-break">{{detailInfo.description}}</span></td>   
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </pane>
    </div>
</div>
<script type="text/ng-template" id="headerCheckbox.html">
    <label class="checkbox">
        <input type="checkbox" ng-model="checkboxes.checked" class="select-all"/>
        <i class="icon-aw-square"></i>
    </label>
</script>
<script type="text/ng-template" id="createDatas.html">
    <div class="modal-common record-res" >
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()">×</button>
            <h3 class="modal-title clearfix">{{modalTitle}}</h3>
        </div>
        <div class="modal-body">
            <form name="datasForm" class="model-form" novalidate>
                <div class="control-group">
                    <label class="control-label">
                        <span class="red">*</span>{{'cn.datasmanage.dataTitles.name'|translate}}：</label>
                    <div class="controls">
                        <input class="form-controls" name="name" ng-model="formData.datasetName" placeholder="{{'cn.datasmanage.placeholder.name'|translate}}" ng-maxlength='32'  ng-pattern='/^(\w|[\u4e00-\u9fa5]|[\-\_])*$/' required ng-change="changeName(formData.datasetName)"/>
                        <div class="error" ng-messages="(datasFormValid ||datasForm.name.$dirty) && datasForm.name.$error">
                            <span class="error" ng-message="pattern">{{'cn.errors.noSpecial'|translate}}</span>
                            <span class="error" ng-message="maxlength">{{'cn.errors.maxlength32'|translate}}</span>
                            <span class="error" ng-message="required">{{'cn.message.required'|translate}}</span>
                        </div>
                        <div class="error" ng-if="hadSameName">
                            <span class="error">{{'cn.datasmanage.checkInfo.sameName'|translate}}</span>
                        </div>
                    </div>
                </div>  
                <div class="control-group">
                    <label class="control-label">
                        {{'cn.datasmanage.dataTitles.download'|translate}}：</label>
                    <div class="controls">
                        <input class="form-controls" name="download" ng-model="formData.url" placeholder="{{'cn.datasmanage.placeholder.download'|translate}}" ng-maxlength='50'/>
                        <div class="error" ng-messages="(datasFormValid ||datasForm.download.$dirty) && datasForm.download.$error">
                            <span class="error" ng-message="maxlength">{{'cn.errors.maxlength50'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        {{'cn.datasmanage.dataTitles.desc'|translate}}：</label>
                    <div class="controls">
                        <textarea class="form-controls" name="desc" ng-model="formData.description" placeholder="{{'cn.datasmanage.placeholder.desc'|translate}}" ng-maxlength='200' ></textarea>
                        <div class="error" ng-messages="(datasFormValid ||datasForm.desc.$dirty) && datasForm.desc.$error">
                            <span class="error" ng-message="maxlength">{{'cn.errors.maxlength200'|translate}}</span>
                        </div>
                    </div>
                </div>  
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="confirm(datasForm)">{{'cn.action.ok'|translate}}</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">{{'cn.action.cancel'|translate}}</button>
        </div>
    </div>
</script>
