<div class="page-inner cluster-view">
    <div class="box permit">
        <div class="col-12">
            <div class="inner">
               <h5>已创建的实验环境</h5>
            <div class="cluster-item resView-info-box">
                <div class="pieChart-box">
                    <pie-chart data="clusterData"></pie-chart>
                </div>
                <div class="res-info-box">
                    <dl ng-repeat="(key,val) in clusterData.clusterData" class="dl-horizontal">
                        <dt>
                            <i ng-if="val.color" ng-style="{backgroundColor:val.color}"></i>{{'cn.resource.status.'+val.name|translate}}
                        </dt>
                        <dd>
                            <span class="num" ng-style="{color:val.color}">{{val.value}}</span>
                        </dd>
                    </dl>
                </div>
            </div> 
            </div>
            
        </div>
    </div>
    <div class="box no-border-box">
        <div class="col-12">
            <div class="inner">
                <h5>资源使用率</h5>
            <div class="chart-wrap">
                <div class="control-group">
                    <label class="control-label">CPU核</label>
                    <div class="controls">
                        <div class="userTableStyle"><span class="value" >{{quotaData.cpu.inUsed}}</span>/{{quotaData.cpu.total}}{{quotaData.cpu.unit}}</div>
                        <div bar-graph bardata="quotaData.cpu"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">内存</label>
                    <div class="controls">
                        <div class="userTableStyle"><span class="value" >{{quotaData.memory.inUsed}}</span>/{{quotaData.memory.total}}{{quotaData.memory.unit}}</div>
                        <div bar-graph bardata="quotaData.memory"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">存储卷</label>
                    <div class="controls">
                        <div class="userTableStyle"><span class="value" >{{quotaData.storage.inUsed}}</span>/{{quotaData.storage.total}}{{quotaData.storage.unit}}</div>
                        <div bar-graph bardata="quotaData.storage"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">GPU</label>
                    <div class="controls">
                        <div class="userTableStyle"><span class="value" >{{quotaData.gpu.inUsed}}</span>/{{quotaData.gpu.total}}{{quotaData.gpu.unit}}</div>
                        <div bar-graph bardata="quotaData.gpu"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>