    <div class="modal-common">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()">×</button>
            <h3 class="modal-title  clearfix">{{'cn.useracount.changePassword'|translate}}</h3>
        </div>
        <div class="modal-body">
            <form name="passwordForm" novalidate>
                <div class="control-group">
                  <label class="control-label">
                    {{'cn.useracount.userName'|translate}}：</label>
                  <div class="controls">
                    <span class="val">{{userName}}</span>
                  </div>
                </div>
                <div class="control-group" ng-if="showOldPasswd">
                  <label class="control-label">
                    <span class="red">*</span>{{'cn.useracount.oldPassword'|translate}}：</label>
                  <div class="controls">
                    <input type="password" class="form-controls" name="oldPassword" id="oldPw" ng-model="passwordFormData.oldPassword"
                      placeholder="{{'cn.useracount.placeholder.oldPsw'|translate}}" ng-maxlength="16" required />
                    <div ng-messages="(passwordSubmitValid ||passwordForm.oldPassword.$dirty) && passwordForm.oldPassword.$error">
                      <span class="error" ng-message="required">{{'cn.errors.required'|translate}}</span>
                      <span class="error" ng-message="maxlength">{{'cn.errors.maxlength16'|translate}}</span>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">
                    <span class="red">*</span>{{'cn.useracount.newPassword'|translate}}：</label>
                  <div class="controls">
                    <input type="password" class="form-controls" name="newPassword" ng-model="passwordFormData.newPassword" id="newPw" oldnew-check="oldPw"
                      ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@._:,\/\-\^\%])[0-9a-zA-Z!@._:,\/\-\^\%]{8,16}$/"
                      placeholder="{{'cn.useracount.placeholder.newPsw'|translate}}" required />
                    <div ng-messages="(passwordSubmitValid ||passwordForm.newPassword.$dirty) && passwordForm.newPassword.$error">
                      <span class="error" ng-message="required">{{'cn.errors.required'|translate}}</span>
                      <span class="error" ng-message="pattern">{{'cn.useracount.checkInfo.special_8_16'|translate}}</span>
                      <span class="error" ng-message="oldnewCheck">{{'cn.useracount.checkInfo.samePassword'|translate}}</span>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">
                    <span class="red">*</span>{{'cn.useracount.confirmNewPassword'|translate}}：</label>
                  <div class="controls">
                    <input type="password" class="form-controls" name="comfirmpass" ng-model="passwordFormData.comfirmPassword" pw-check="newPw" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@._:,\/\-\^\%])[0-9a-zA-Z!@._:,\/\-\^\%]{8,16}$/"
                    placeholder="{{'cn.useracount.placeholder.confirmPsw'|translate}}" required />
                    <div ng-messages="(passwordSubmitValid || passwordForm.comfirmpass.$dirty) && passwordForm.comfirmpass.$error">
                      <span class="error" ng-message="required">{{'cn.errors.required'|translate}}</span>
                      <span class="error" ng-message="pattern">{{'cn.useracount.checkInfo.special_8_16'|translate}}</span>
                      <span class="error" ng-message="pwCheck">{{'cn.useracount.checkInfo.notSamePasswd'|translate}}</span>
                    </div>
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ng-click="modifyPassword(passwordForm)" ng-disabled="passwordDisabled">{{'cn.action.save'|translate}}</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">{{'cn.action.cancel'|translate}}</button>
        </div>
    </div>
