<div class="page-inner page-ex">
    <div class="page-head">
        <h5 class="text-title">{{"cn.platform.name"|translate}}</h5>
        <button class="btn btn-primary" ng-disabled="!canCreate" ng-click="createItem('platcreate')"><i class="icon-aw-add-to2"></i> {{"cn.action.create"|translate}}</button>
    </div>
    <div class="box">
      <ul class="img-list">
          <li ng-repeat="item in imgList" ng-class="{'col-4':imgList.length==3}">
              <div class="inner">
                  <span class="sort-num">{{item.num}}</span>
                  <div class="img-box">
                      <img ng-src="{{item.url}}" alt="" title=""/>
                      <div class="btn-item">
                          <button class="btn btn-primary"  ng-click="createItem('platedit',item)">{{"cn.action.edit"|translate}}</button>
                          <button class="btn btn-info"  ng-click="deleteItem(item)">{{"cn.action.del"|translate}}</button>
                      </div>
                  </div>
                  <div class="text-box">
                      {{item.description}}
                  </div>
              </div>
          </li>
      </ul>  
    </div>
</div>


