<div class="page-inner">
    <form name="createForm" novalidate>
      <div class="page-head">
        <button class="btn btn-primary" ng-disabled="!canSave" ng-click="saveForm(createForm)"><i class="icon-aw-zdi"></i> {{"cn.action.save"|translate}}</button>
        <div class="upload-file upload-inline">
            <span class="btn-file">
                <input type="file" ng-model="file" name="file" class="file" ng-change="change($event)" onchange="angular.element(this).scope().fileChanged(this)" />
                <button class="btn btn-info"><i class="icon-aw-dr"></i> {{"cn.action.import"|translate}}</button>
            </span>
        </div>
        <p class="red" ng-if="imgChecked">{{"cn.errors.uploadmd"|translate}}</p>
      </div>
      <div class="scintro-form-layout">
          <div class="clearfix">
            <div class="control-group col-4">
            <label class="control-label"><span class="red">*</span>{{"cn.scintro.school"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.name'|translate}}" autocomplete="off" ng-model="dataForm.name" name="name" namereg ng-maxlength="100" required/>
              <div class="error" ng-messages="(FormValid ||createForm.name.$dirty) && createForm.name.$error">
                  <form-validate maxlength="100"></form-validate>
              </div>
            </div>
          </div>
          <div class="control-group col-4">
            <label class="control-label"><span class="red">*</span>{{"cn.scintro.addr"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.address'|translate}}" autocomplete="off" ng-model="dataForm.address" name="addr" namereg ng-maxlength="100" required/>
              <div class="error" ng-messages="(FormValid ||createForm.addr.$dirty) && createForm.addr.$error">
                  <form-validate maxlength="100"></form-validate>
              </div>
            </div>
          </div>
          <div class="control-group col-4">
            <label class="control-label"><span class="red">*</span>{{"cn.scintro.tel"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.tel'|translate}}" autocomplete="off" ng-model="dataForm.telphone" name="tel" telreg ng-maxlength="50" required/>
              <div class="error" ng-messages="(FormValid ||createForm.tel.$dirty) && createForm.tel.$error">
                  <form-validate maxlength="50"></form-validate>
              </div>
            </div>
          </div>
          </div>
          <div class="clearfix">
            <div class="control-group col-4">
            <label class="control-label">{{"cn.scintro.email"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.email'|translate}}" autocomplete="off" ng-model="dataForm.email" name="email" email-check ng-maxlength="50"/>
              <div class="error" ng-messages="(FormValid ||createForm.email.$dirty) && createForm.email.$error">
                  <form-validate maxlength="50"></form-validate>
              </div>
            </div>
          </div>
          <div class="control-group col-4">
            <label class="control-label">{{"cn.scintro.fax"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.fax'|translate}}" autocomplete="off" ng-model="dataForm.fax" name="fax" faxreg ng-maxlength="50"/>
              <div class="error" ng-messages="(FormValid ||createForm.fax.$dirty) && createForm.fax.$error">
                  <form-validate maxlength="50"></form-validate>
              </div>
            </div>
          </div>
          <div class="control-group col-4">
            <label class="control-label">{{"cn.scintro.page"|translate}}：</label>
            <div class="controls">
              <input type="text" class="form-controls" placeholder="{{'cn.scintro.placeholder.page'|translate}}" autocomplete="off" ng-model="dataForm.homepage" name="page" ng-pattern="/^((https?):\/\/)?([a-z]([a-z0-9\-]*[\.])+([a-z]{2,})|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))(\/[a-z0-9_\-\.~]+)*(\/([a-z0-9_\-\.]*)(\?[a-z0-9+_\-\.%=&]*)?)?(#[a-z][a-z0-9_]*)?$/" ng-maxlength="50"/>
              <div class="error" ng-messages="(FormValid ||createForm.page.$dirty) && createForm.page.$error">
                  <span class="error" ng-message="pattern">{{'cn.errors.url'|translate}}</span>
                  <span class="error" ng-message="maxlength">{{'cn.errors.maxlength50'|translate}}</span>
              </div>
            </div>
          </div>
          </div>
          <div class="control-group markdown-group">
            <label class="control-label"><span class="red">*</span>{{"cn.scintro.intro"|translate}}：</label>
            <div class="controls">
              <div ng-if="showMarkdown">
                <markdown-editor key="chapter" change="markdownChange(context)" current="currentEditor" data="docData" edit="0"></markdown-editor>
              </div>
              <div class="error" ng-if="markdownChecked">
                  <span>{{"cn.scintro.checkInfo.markdown"|translate}}</span>
                </div>
            </div>
          </div>
      </div>
    </form>
</div>


